/*
Vitor Vinícius Porangaba Torres
Alysson Matheus de Souza Rodrigues
Jordana da Silva Ferro
ATV 05 - 513 */

/* =========================
   TEMA V
   ========================= */

#corpo.temav {
    background-image: url(../img/img_vinicius/fundo_geral2.png);
}

#corpo.temav #cabecalho {
    color: #FFD700;
    background-color: #1a1a1a;
}

#corpo.temav .barra_lateral {
    background-color: #2d0000;
}

#corpo.temav #rodape {
    background-color: #1a1a1a;
    color: #E0E0E0;
}

#corpo.temav #conteudo {
    background-image: url(../img/img_vinicius/fundo_curriculo.png);
}

#corpo.temav .botaoativo {
    color: #2d0000;
    background-color: #FFD700;
}

#corpo.temav .botaoinativo {
    color: #B0B0B0;
}

#corpo.temav #botao-tema {
    background-color: #FFD700;
    color: #2d0000;
}

/* =========================
   TEMA A
   ========================= */

#corpo.temaa {
    background-image: url(../img/img_alysson/background.jpg);
}

#corpo.temaa #cabecalho {
    color: #FFD166;
    background-color: #0D1B2A;
}

#corpo.temaa .barra_lateral {
    background-color: #D9D9D9;
}

#corpo.temaa #rodape {
    background-image: url(../img/img_alysson/footer.jpeg);
    background-size: contain;
    color: #FFD166;
}

#corpo.temaa #conteudo {
    background-color: white;
}

#corpo.temaa .botaoativo {
    color: #D9D9D9;
    background-color: #3A86FF;
}

#corpo.temaa .botaoinativo {
    color: black;
}

#corpo.temaa #botao-tema {
    background-color: #3A86FF;
    color: #D9D9D9;
}