        #corpo {
            background-size: 100%;
            background-attachment: fixed;
        }
        .meu_container { /*classe*/
            width: 65%;
            margin: 30px auto; /* Centraliza e adiciona margem no topo */
            display: flex;       /* Transforma o container em flexível */
            flex-direction: column; /* Coloca Header, Conteúdo e Rodapé em coluna */
            min-height: 90vh;    /* Garante altura mínima */
        }
        .meu_container div{ /*classe*/
            text-align: center; /*Alinha todo o texto no centro*/
            overflow: hidden; /* Corta qualquer conteúdo que passe do tamanho da div */
        }
        #cabecalho { /*id*/
            height: 80px; /*Ajeita a altura total do cabeçalho*/
            font-size: 300%; /*Aumenta o tamanho da fonte*/
        }
        .botoes {
        cursor: pointer;
        }
        .barra_lateral div { /*classe*/
            vertical-align: top; /*Alinha o conteúdo do div ao topo*/
        }
        .barra_lateral { /*classe*/
            width: 15%;          /* Mantém a largura proporcional */
            background-color: #4b0000; /* Sua cor marrom */
        } 
        .grade { /*classe*/
            display: flex;       /* Usamos flex em vez de grid para facilitar o alinhamento de altura */
            flex: 1;             /* Faz a grade ocupar todo o espaço restante entre o cabeçalho e rodapé */
        }
        #conteudo { /*id*/
            width: 85%;          /* O restante do espaço */
            padding: 20px;       /* Espaçamento interno */
            background: #ffffff; /* Fundo branco para contraste */
        }
        #rodape { /*id*/
            height: 70px; /*Ajeita a altura total do rodapé*/
        }
        .conteudo_zbranco {
            width: 100%; 
            background-size: 60%; 
            background-attachment: fixed;
            text-align: justify;
        }
        .conteudo_zazul {
            width: 100%; 
            background-size: 100%; 
            background-attachment: fixed; 
            text-align: center;
        }
        .tabela_toda {
            /* define uma borda padrão preta; centraliza as tabelas
            automaticamente e define o padrão da cor de fundo para branco*/
            border: 1px solid black;
            border-collapse: collapse;
            margin: auto;
            background-color: white;
            vertical-align: middle;
            text-align: center;
        }

        .cont_tabela {
            /* centraliza os textos dentro de uma célula qualquer horizontal e verticalmente */
            text-align: center;
            vertical-align: middle;
        }

        .tabela_titulo {
            /* define para cinza o background de células-título */
            background-color: gray;
        }

        .titulos {
            /* alinha todos os títulos */
            text-align: center;
        }

        .containeres {
            /* cria containeres que serão responsáveis pelo layout do currículo */
            width: 100%;
            display: flex;
            text-align: center;
        }

        .curriculoEsquerda {
            /* define formatação pra coluna esquerda do currículo */
            width: 20%;
        }

        .curriculoDireita {
            /* define formatação pra coluna direita do currículo */
            width: 80%;
            padding-left: 25px;
        }

        #imagemPerfil {
            /* define margens automáticas pra imagem de perfil */
            margin: auto;
        }

        #abaixoDaImagem {
            /* define margem esquerda para texto abaixo da foto de perfil */
            padding-left: 2px;
        }

        .certificados {
            /* organiza certificados */
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            flex-wrap: wrap;
            margin-top: 15px;
        }

        .certificados img {
            /* define tamanho padrão para as imagens */
            width: 250px;
        }
        .fotos {
            /* define a foto de perfil dos artistas para um tamanho uniforme */
            width: 200px;
        }
        .elementos {
            /* auxilia a classe anterior na organização */
            width: 50%;
        }
        .thumbs {
            /* define a capa das músicas para um tamanho uniforme */
            width: 100px;}
        .tabela_musica {
            width: 100%;
        }